<app-nav></app-nav>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <h1>Employee</h1>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">


<table class="table table-bordered">
   
    <thead>
      <tr>
        <th scope="col">Employee ID</th>
        <th scope="col">Patient Name</th>
        <th scope="col">Address</th>
        <th scope="col">Mobile</th>
        <th scope="col">Age</th>
        <th scope="col">Doctor Name</th>
        
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let i of data"> 
        <td>{{i.id}}</td>
        <td>{{i.patientName}}</td>
        <td>{{i.address}}</td>
        <td>{{i.mobile}}</td>
        <td>{{i.age}}</td>
        <td>{{i.drName}}</td>
       
      
      </tr>
      
      
    </tbody>
  </table>
                </div>
        </div>
    </div>
</div>
